
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  color: #163152;
  background-color: #FDFDFF;;
}

.main-nav__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #163152;
}

.page-main__title {
  font-size: 44px;
  font-style: italic;
  font-weight: 400;
  line-height: 60px;
}

.promo-data {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-title2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  text-decoration-line: underline;
  text-decoration-color: #00C6BD;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.page-title3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.news-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

figcaption {
  color: #8693A4;
}

.news-paragraph {
  font-size: 18px;
  line-height: 26px;
}

.news-leading-paragraph {
  padding-left: 20px;
  border-left: 2px solid #00C6BD;
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
}

.teams-list {
  list-style-image: url(../img/Ellipse.svg);
}

.news-span {
  text-decoration: line-through;
}

.teams-item {
  font-size: 18px;
  line-height: 26px;
}

.meta-name {
  position: relative;
  padding-left: 95px;

  font-weight: 700;
  line-height: 19px;
}

.meta-data {
  position: relative;
  padding-left: 55px;

  line-height: 19px;
  color: #8693A4;
}

.meta-autor::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(../img/author.jpg);
}

.kontacts-info {
  line-height: 22px;
  font-style: normal;
}

.kontacts-info-link {
  line-height: 22px;
  text-decoration: none;
  color: #163152;
}

.footer-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.footer-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #163152;
}

.footer-copyright {
  font-size: 10px;
  line-height: 12px;
}

.policy-link {
  text-decoration: none;
  font-size: 10px;
  line-height: 12px;
  color: #163152;
}